body.archive {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}
.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}
.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.post-title a {
    color: #ffffff; /* Цвет ссылки заголовка */
}
.article-author {
    width: 50%;
    float: left;
}
.article-created-date {
    text-align: right;
}
/* Добавьте другие стили для архива */